*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  margin: 0;
}

body {
  background-color: #f7f7f7;
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  background: transparent;
  text-decoration: none;
  color: inherit;
}

iframe[src$=".pdf"]{
    width:100%;
    height:90vh;
}
.manual{
  margin: auto auto;
  width: 740px;
  text-align: right;
  color: blue;
}

.title01{
  font-weight: bold;
  border-bottom: 5px solid black;
  border-radius: 5px;
}

header.header09 {
  padding: 1rem 1rem;
}

div.logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

div.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav.nav {
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
  margin: 1rem auto 0;
  max-width: 700px;
}

nav.nav ul.item {
  display: flex;
  justify-content: center;
}

nav.nav ul.item li.list {
  padding: 0 1rem;
}

nav.nav ul.item li.list a {
  font-weight: bold;
}

#menu-btn,
.nav-hidden {
  display: none;
}

div.plugins{
    border-left: 8px solid #3656a7;
    background-color: #f1f0f0;
    margin: 1rem auto;
    width: 50%;
}

div.box-home{
    margin: 1.5rem auto;
    border-radius: 10px;
    width: 850px;
    background-color: #f1f0f0;
    padding: 1rem 1rem;
    font-size: 0.8rem;
}

div.box-about{
    margin: 1.5rem auto;
    border-radius: 10px;
    width: 830px;
    background-color: #f1f0f0;
    padding: 1rem 1rem;
}

div.container {
  width: 100%;
  padding: 1rem 1rem;
}

div.container ul.item {
  list-style: none;
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

div.container ul.item  li.list {
  min-height: 300px;
  background: #fff;
  padding: 1.5rem 1rem;
}

div.image {
  width: 100%;
  height: 154px;
}

div.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p.content {
  line-height: 1.6;
  color: #333;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #9a9696;
}


div.box-home ul.content{
    margin: auto 0.5rem;
    border-radius: 5px;
    background-color: #DDDDDD;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
}

div.box-home p.content{
    font-weight: bold;
    margin: 0.2rem 0.2rem;
    border-radius: 5px;
    background-color: #AAAAAA;
    padding: 0.2rem 0.5rem;
}


h1.plugins{
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
}


h2.title{
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

h3.title {
  font-weight: bold;
  font-size: 1.4rem;
}

h3.title p.title{
  border-left: 1.4rem solid #9a9696;
  border-bottom: 0.1rem solid #9a9696;
  padding: 0.2rem 0.2rem;
}

h4.title{
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 0.2rem;
}

h5.title{
  font-size: 0.8rem;
}

div.container ul.item li.list a {
  display: block;
  transition: 0.2s;
}

div.container ul.item li.list a:hover {
  opacity: 0.7;
}

div.sns-container {
    margin: 1rem 2rem 0rem;
    border-top: 1px solid black;
    padding: 1rem 1rem 0rem;
}

table.table01{
  margin: 0 auto;
}

table.table01 th,
table.table01 td {
  border-right: 1px solid #fff;
  vertical-align: middle;
  font-size: 0.8rem;
}
table.table01 tbody tr {
  background-color: #fff;
}

.accordion {
    cursor: pointer;
    padding: 0px 12px;
    background: #eee;.
    border-radius: 4px;
    border: 1px solid #ccc;
    font-weight: bold;
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .accordion .arrow {
    width: 16px;
    display: inline-block;
  }

  .panel {
    display: none;
    padding: 8px 12px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
  }


@media screen and (max-width: 768px)  {
  #menu-btn {
    display: block;
    width: 30px;
    height: 20px;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 3;
  }

  #menu-btn span,
  #menu-btn span::before,
  #menu-btn span::after {
    content: "";
    height: 2px;
    width: 100%;
    border-radius: 3px;
    background: #3656a7;
    position: absolute;
    transition: 0.2s;
  }

  #menu-btn span {
    top: 0;
  }

  #menu-btn span:before {
    top: 8px;
  }

  #menu-btn span:after {
    top: 16px;
  }

  #nav-input:checked~#menu-btn span {
    top: 8px;
    transform: rotate(45deg);
  }

  #nav-input:checked~#menu-btn span::before {
    opacity: 0;
  }

  #nav-input:checked~#menu-btn span::after {
    top: 0;
    transform: rotate(-90deg);
  }

  header.header09 {
    padding: 0.6rem;
  }

  div.logo {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }

  nav.nav {
    width: 130px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    transition: 0.5s;
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
  }

  nav.nav ul.item {
    display: block;
    padding: 4rem 2rem;
  }

  nav.nav ul.item li.list {
    padding-left: 0;
    padding-bottom: 1.5rem;
  }

  #nav-input:checked~nav.nav {
    opacity: 1;
    visibility: visible;
  }

  div.image {
    width: 100%;
    height: 100%;
  }

  div.container ul.item {
    grid-template-columns: repeat(1, 1fr);
  }
  div.box-home{
    margin: 1.5rem 1.5rem;
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 1rem 1rem;
    width: auto;
    height: auto;
    background-color: #f1f0f0;
    }
  div.box-about{
    margin: 1.5rem 1.5rem;
    border-radius: 10px;
    padding: 1rem 1rem;
    width: auto;
    height: auto;
    background-color: #f1f0f0;
    }
}

footer.footer01 {
  margin: 0rem 2rem;
  text-align: center;
}

p.copyright {
  color: #000;
}

.dli-mail {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  position: relative;
  width: 1.06667em;
  height: 0.8em;
  border: 0.1em solid currentColor;
  border-radius: 0.1em;
  box-sizing: content-box;
  overflow: hidden;
}

.dli-mail::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 0.75425em;
  height: 0.75425em;
  border: 0.1em solid currentColor;
  border-top-color: transparent;
  border-right-color: transparent;
  border-radius: 0 0 0 0.1em;
  box-sizing: content-box;
  transform: translate(-50%, -50%) rotate(-45deg) skew(10deg, 10deg);
}

.button {
  margin: 5px 10px 0px 10px;
}

.button05 {
  display: inline-block;
  font-weight: bold;
  background: linear-gradient(90deg,
      rgba(251, 176, 222, 1) 0%,
      rgba(132, 240, 255, 1) 100%);
  color: #fff;
  padding: 5px 0px 5px 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  transition: all 0.2s;
}

.button05::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  margin: auto;
  transition: all 0.2s;
}

.button05:hover {
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.button05:hover::after {
  right: 15px;
}